@font-face {
	font-family: 'RPGSystem';
    src: url('img/RPGSystem.woff2') format('woff2'),
        url('img/RPGSystem.woff') format('woff');
}

.box{
	display: flex;
	border: 5px solid white;
	border-radius: 5px;
	background-color: rgb(50, 50, 150, 0.7);
	text-align: center;
	justify-content: space-around;
	height : auto;
	font-size: 36px;
}

#table{
	display: flex;
	width : auto;
}

#actions{
	display: flex;
	width: 10%;
	text-align: left;
	flex-direction: column;
	margin-top: 1%;
}

.noms{
	font-size: 28px;
	text-decoration: underline;
}

.stats{
	font-size: 25px;
	display: flex;
	flex-direction: column;
}

.ennemis{
	display: flex;
	justify-content: space-around;
}

.choix{
	color: white;
	font-size :25px;
	padding-left: 10px
}

.choix:hover{
	padding-left: 20px;
	text-decoration: underline;
	font-weight: bold;
	color: lightgrey;
	text-decoration-color: lightgrey;
}

body{
	color: white;
	/*permet d'avoir un arrière plan qui s'adapte à la taille de l'écran*/
	background: url(img/background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}