@font-face {
	font-family: 'RPGSystem';
    src: url('img/RPGSystem.woff2') format('woff2'),
        url('img/RPGSystem.woff') format('woff');
}

.box{
	display: flex;
	border: 5px solid white;
	border-radius: 5px;
	background-color: rgb(50, 50, 150, 0.7);
	height : auto;
	font-size: 36px;
}

#table{
	display: flex;
	width : auto;
	text-align: center;
	justify-content: space-around;
}

td{
	padding-right: 50px;
	padding-left: 50px;
}

.noms{
	font-size: 28px;
	text-decoration: underline;
	border-bottom: 1px solid white;
}

.pv{
	border-top: 1px solid white;
}

.ennemis{
	display: flex;
	justify-content: space-around;
}

.bottom{
	display: flex;
	justify-content: left;
	text-align: left;
	margin-top: 1%;
}

#actions{
	display: flex;
	width: 10%;
	flex-direction: column;
}

.choix{
	color: white;
	font-size :25px;
	padding-left: 10px
}

.choix:hover{
	padding-left: 20px;
	text-decoration: underline;
	font-weight: bold;
	color: lightgrey;
	text-decoration-color: lightgrey;
}

#message_box{
	padding-left: 10px;
	margin-left: 10px;
	width: 70%;
	text-align: right;
}

body{
	color: white;
	/*permet d'avoir un arrière plan qui s'adapte à la taille de l'écran*/
	background: url(img/background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}